div.book p {
    margin-bottom: 0;
}

.book{
    font-size: 14px !important;
}

.book ol {
    padding: 0 !important;
    padding-left: 20px !important;
    margin: 10px 0 15px !important;
}

.book li::marker {
    display: block;
}
.book ol[start="6"]{
    padding-left: 25px !important;
}
.book ol[start="7"], .book ol[start="8"], .book ol[start="9"] {
    padding-left: 32px !important;
}