.chon-ngay-tot-container {
  margin-top: 30px;
  padding-left: 20%;
  padding-right: 20%;

  .img-chon-goi-wrapper {
    padding: 0 6% 0 6%;

    @media (max-width: 768px) {
      padding: 0 10px 0 10px;
    }
  }

  .chon-ngay-tot-video-block {
    padding: 20px 0 20px 0 !important;

    @media (max-width: 768px) {
      padding: 10px 0 10px 0 !important;
    }
  }

  .chon-ngay-tot-block {
    padding: 30px 5% 30px 5%;

    @media (max-width: 768px) {
      padding: 10px 5% 10px 5%;
    }
  }

  .video-container {
    background-color: #a6b573;
    padding: 8px;
    margin-top: 20px;
    border-radius: 6px;
    width: 60%;
    height: 400px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @media (max-width: 768px) {
      padding: 6px;
      margin-top: 10px;
      border-radius: 6px;
      width: 80%;
      height: 160px;
    }
  }

  .video-block-title {
    width: 50%;
    @media (max-width: 768px) {
      width: 60%;
    }
  }

  @media (max-width: 768px) {
    padding: 0;
    margin-top: 0;
  }

  .xem-ngay-tot-cung-chuyen-gia {
    border-top: 1px solid #ccc;
    background: linear-gradient(180deg, #fbfff6 0%, #faffef 100%);

    // @media (max-width: 768px) {
    //   gap: 8px;
    // }

    .img-chuyen-gia {
      width: 15%;

      @media (max-width: 768px) {
        width: 22%;
      }
    }

    .contact-chuyen-gia-container {
      width: 55%;
      gap: 8px;

      button {
        height: 55px !important;
        padding: 10px 12px 10px 12px !important;
      }

      img {
        height: 80% !important;
      }

      .contact-button-container {
        gap: 20px;

        @media (max-width: 768px) {
          gap: 6px;
        }
      }

      @media (max-width: 768px) {
        width: 60%;
        gap: 3px;

        button {
          height: 25px !important;
          padding: 5px 4px 5px 4px !important;
        }

        img {
          height: 100% !important;
        }
      }
    }
  }
}
