.than-so-hoc-result {
  /* gap: 35px;
    display: flex;
    flex-direction: column; */
}

.tshCard {
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.06);
  padding: 20px;
  margin-bottom: 35px;
}

.tshCard .avatar {
  padding: 0 20px 0 0;
}

.tshCard .avatar img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.tshCard .personalInfo {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  line-height: 14px;
}

.tshCard .quote {
  color: #000;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2px;
  /* padding: 10px; */
  margin-bottom: 10px;
}

.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: #7ad4dd;
  color: white;
  width: 55px;
  height: 55px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container .haveNumber {
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: #099ecd;
}

.giai-doan-cuoc-doi-img-container {
  /* background-color: rgba(255, 255, 255, 0.8); */
  width: 340px;
  /* height: 200px; */
}

.so-do-giai-doan-cuoc-doi {
  background: linear-gradient(180deg, #34ccda 0%, #72a3e3 102.37%);
  /* height: 200px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 40px 30px;
  margin-bottom: 10px;
  /* position: relative; */
}

.ngay-sinh {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  background-color: #007fe0;
}

.orange {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  background-color: #e57d00;
}

.green {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  background-color: #0d861b;
}

.red {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  background-color: #e23448;
}

.peak-value-top {
  color: #f1ff26;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  position: absolute;
  top: -25px;
  /* left: 10px; */
}

.peak-year-value {
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* position: absolute;
  top: -25px; */
}

.peak-birthday {
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  bottom: -30px;
}

.peak-year {
  color: white;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  bottom: -30px;
}

.peak-year-position-right {
  color: white;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  /* bottom: -30px; */
  right: -65px;
}

@media screen and (max-width: 768px) {
  .tshCard {
    padding: 10px;
  }

  .img-giai-ma-chi-so-container {
    margin-bottom: 15px;
  }

  .tshCard .avatar {
    padding: 0 10px 0 0;
  }
}

.img-giai-ma-chi-so-container {
  /* padding: 0 20px 0 20px; */
  margin-bottom: 30px;
}
