.modal-after-payment {
  .modal-dialog {
    min-width: 720px;

    @media (max-width: 768px) {
      min-width: 0;
      width: 95vw;
    }
  }

  .modal-content {
    padding: 32px;

    @media (max-width: 768px) {
      padding: 24px 16px 24px 16px;
    }

    .service-info {
      display: flex;
      flex-direction: row;
      gap: 10px;

      @media (max-width: 768px) {
        gap: 6px;
      }
    }

    .addtional-service-info {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: end;
      flex-grow: 1;
    }

    .modal-title {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 40px;
      font-size: 18px;

      @media (max-width: 768px) {
        font-size: 16px !important;
        margin-bottom: 30px !important;
      }
    }

    .image-purchase {
      width: 100%;

      @media (max-width: 768px) {
        width: 150px !important;
      }
    }

    .img-after-payment-background {
      width: 160px;

      @media (max-width: 768px) {
        display: none;
      }
    }

    .service-info-container {
      display: flex;
      flex-direction: column;
      gap: 12px;

      @media (max-width: 768px) {
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid #ebebeb;
        gap: 10px;
      }
    }

    .image-purchase-container {
      display: flex;
      flex-direction: column;

      color: #333;
      width: 180px;
      gap: 3px;

      @media (max-width: 768px) {
        flex-direction: row;
        width: 100%;
        gap: 20px;
      }
    }

    .modal-payment-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      margin-top: 6px;

      .button-container {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
      }

      button {
        width: 200px;
      }

      @media (max-width: 768px) {
        justify-content: center;
        gap: 20px;
        margin-top: 20px;

        button {
          width: 140px !important;
        }
      }
    }
  }
}
