.modal-after-payment {
  .modal-dialog {
    min-width: 770px;
  }

  .modal-content {
    padding: 32px;

    .service-info-container {
      gap: 12px;

      .img-after-payment-background {
        width: 170px;
      }
    }

    .image-purchase-container {
      color: #333;
      width: 170px;
      gap: 3px;
    }
  }
}
