.ant-breadcrumb {
  margin-top: 10px;
  font-family: "SF UI Text", sans-serif;
}

.breadcrumb-title {
  color: #484e54;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; 
}
